<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Listing JMS queue content</title>
  <meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no" />
  <meta name="author" content="binita.bharati@gmail.com">
  
  <link href="../externalLibs/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
  <link href="../externalLibs/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="../externalLibs/jqueryui/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../externalLibs/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../externalLibs/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../externalLibs/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../externalLibs/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../externalLibs/bootstrap/docs/assets/ico/favicon.png">

  <link href="../externalLibs/footable/css/footable-0.1.css" rel="stylesheet" type="text/css" />
  <!-- <link href="../externalLibs/footable/css/footable.sortable-0.1.css" rel="stylesheet" type="text/css" /> -->
  <link href="../externalLibs/footable/css/footable.paginate.css" rel="stylesheet" type="text/css" /> 

  <link href="../externalLibs/dynatree/skin-vista/ui.dynatree.css" rel="stylesheet" type="text/css">
  <link href="../css/connectionTab.css" rel="stylesheet" type="text/css">
  <!-- <link href="../css/queueDetails.css" rel="stylesheet" type="text/css"> -->

  <script src="../externalLibs/jquery/jquery.js" type="text/javascript"></script>
    <script src="../externalLibs/jqueryui/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="../externalLibs/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="../externalLibs/dynatree/jquery.dynatree.js" type="text/javascript"></script>

     <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-transition.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-alert.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-modal.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-tab.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-popover.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-button.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-typeahead.js"></script> 

    <script src="../externalLibs/footable/js/footable.js" type="text/javascript"></script>
    <!-- <script src="../externalLibs/footable/js/footable.paginate.js" type="text/javascript"></script> -->
    <script src="../externalLibs/footable/js/footable.filter.js" type="text/javascript"></script> 

    <script src="../externalLibs/handlebar/handlebar.js"></script>

     <script src="../js/common.js" type="text/javascript"></script>
     <script src="../js/queueDetails.js" type="text/javascript"></script>

      <link href="../css/queueDetails.css" rel="stylesheet" type="text/css">


    
</head>
  <body>

      <% 
    import bbharati.jmschirp.util.AppLogger
    
    def jmsConnectionName = request.getParameter('connection')
    def queueName = request.getParameter('queue')
     
    
    AppLogger.info('queueDetails: jmsConnectionName = '+jmsConnectionName +', queueName = '+queueName)
     %>
     

     <script type="text/javascript">
 
     \$(function() {

    \$('.clear-filter').click(function (e) {
        e.preventDefault();
        \$('table').trigger('footable_clear_filter');
      });

    
    \$(".fooTblDiv").scroll(function(event)
      {
          console.log('scroll: entered ');

          /* Get current event target elemnt, and extract Id. From ID , extract the queueName */

          var target = event.target;//plain DOM node
          console.log('scroll: target node is '+target);

          var targetId = target.getAttribute('id');

          var queueName = targetId.substring(targetId.indexOf('-')+1);
          
          var scrolledDivId = targetId;//this.id;
          console.log('scroll: targetId = '+targetId+', queueName = '+queueName);

          var queueMap = (queueName in globalQueueData) ? globalQueueData[queueName] : {};

          var hasMore = queueMap['hasMore'];
          var lastScrollTop = ('lastScrollTop' in queueMap) ? queueMap['lastScrollTop'] : 0;
          var scrollTimer = ('scrollTimer' in queueMap) ? queueMap['scrollTimer'] : -1;

          console.log('scroll: queueMap data is - hasMore = '+hasMore+', lastScrollTop = '+lastScrollTop
              +', scrollTimer = '+scrollTimer);

          var currentSt = \$("#"+scrolledDivId).scrollTop();
          if (currentSt > lastScrollTop)//scroll down event
          {
              if(hasMore == 'Y')
              {
                   if (scrollTimer != -1)
                  {
                      clearTimeout(scrollTimer);
                  }
                  scrollTimer = setTimeout(function(){scrollEnded(queueName)}, 500);//500ms should be enough for a user to complete scroll
                  queueMap['scrollTimer'] = scrollTimer;
                  globalQueueData[queueName] = queueMap;
                    
              }
          
          }
          //else, scroll top has happened, do nothing 
          console.log('scroll: at chk point');
          queueMap['lastScrollTop'] = currentSt;
          globalQueueData[queueName] = queueMap;
          
               
      });

     function scrollEnded(queueName)
     {

       console.log('scrollEnded: entered with queueName = '+queueName);

       var fooTblBodyNode = document.getElementById('fooTblBody-'+queueName);
       var lastTblRowNodeId = fooTblBodyNode.lastChild.id;
       var lastShownRowIdx = lastTblRowNodeId.substring(lastTblRowNodeId.lastIndexOf('-')+1);
       console.log('scrollEnded: lastShownRowIdx = '+lastShownRowIdx);


       var lastTdNodeId = queueName+"-msgLinkTd-"+(lastShownRowIdx - 1);

       var lastTdNodePosition = \$("#"+lastTdNodeId).position();

       var progressBarOnScrollDiv = document.createElement('div');
       progressBarOnScrollDiv.id=queueName+"-progressBarOnScroll";
       progressBarOnScrollDiv.style.position='absolute';
       progressBarOnScrollDiv.style.zIndex = 1000;
       progressBarOnScrollDiv.style.top = lastTdNodePosition.top +'px';
       progressBarOnScrollDiv.style.left = lastTdNodePosition.left +'px';
       progressBarOnScrollDiv.style.width = '95.9%';

       var tblDiv = document.getElementById("fooTblDiv-"+queueName);
       tblDiv.appendChild(progressBarOnScrollDiv);

       initProgressBar(queueName+"-progressBarOnScroll");

        makeAjaxGETRequest('../groovy/scripts/queueDetails.groovy?connection=<%= jmsConnectionName %>&queue='+queueName+'&isScrolled=Y',queueDetailsCallBack,{"queueName" : queueName,"invokedFirstTime" : false});
         
     }
      
      initProgressBar("tabSpecificProgressBar-<%= queueName %>");
   
      makeAjaxGETRequest('../groovy/scripts/queueDetails.groovy?connection=<%= jmsConnectionName %>&queue=<%= queueName %>&isScrolled=N',queueDetailsCallBack, {"queueName" : '<%= queueName %>',"invokedFirstTime" : true}); 


  });

  

  var queueDetailsCallBack = function(xmlhttpResponse, callBackInputObject)
  {
        if (xmlhttpResponse.status == 200)
        {
        var jsonResponse = JSON.parse(xmlhttpResponse.responseText);

        console.log('queueDetailsCallBack: jsonResponse.hasMore ' +jsonResponse.hasMore);

        /* queueName cant be directly taken from gsp queueName variable, as in dynamic content ( javascript ),
         the gsp var - queueName , will get updated to the last request that has hapened for this page. */
        var queueName = callBackInputObject.queueName; 
        
         var lastRetrievedMsgIndex = 0;
         var fooTblBodyNode = \$('#fooTblBody-'+queueName);

         //var dataStore = fooTblBodyNode.data("store");
         var queueMap = (queueName in globalQueueData)? globalQueueData[queueName]: {};
         queueMap['hasMore'] = jsonResponse.hasMore;
         globalQueueData[queueName] = queueMap;

         if(\$("#fooTblBody-"+queueName).children().length > 0)
         {
              //Implies, this is not the first time, this page has been requested. (Will happen on scroll)
               var domfooTblBodyNode = document.getElementById("fooTblBody-"+queueName);
               var lastTblRowNodeId = domfooTblBodyNode.lastChild.id;
               lastRetrievedMsgIndex = lastTblRowNodeId.substring(lastTblRowNodeId.lastIndexOf('-')+1);

         }
       
        console.log('queueDetailsCallBack: lastRetrievedMsgIndex = '+lastRetrievedMsgIndex);

       
        var msgData = jsonResponse.msgData;
        for (var i = 0 ; i < msgData.length ; i++)
        {
              lastRetrievedMsgIndex++;
              console.log('queueDetailsCallBack: each msgData = '+msgData[i]);

              var fooTblBody = document.getElementById('fooTblBody-'+queueName);

               var tdData = document.createElement("td");
               tdData.innerHTML = msgData[i].type;

               var tdData1 = document.createElement("td");
               tdData1.id=queueName+"-msgLinkTd-"+lastRetrievedMsgIndex;
               
               tdData1.innerHTML = '<div class="msgLinkDiv" id="'+queueName+'-msgLinkDiv-'+lastRetrievedMsgIndex+'"><a id="'+queueName+'-msgId-'+lastRetrievedMsgIndex+'" class="msgId" style="color: #0088CC" href="#" onclick="onMsgLinkClick(this, \\''+queueName+'\\')">'+msgData[i].JMSMessageID+'</a>';


               var tdData2 = document.createElement("td");
               tdData2.innerHTML = msgData[i].JMSRedelivered;

               var trRow = document.createElement("tr");
               trRow.id = queueName+"-trRow-"+lastRetrievedMsgIndex;

               trRow.appendChild(tdData1);
               trRow.appendChild(tdData2);
               trRow.appendChild(tdData);

               fooTblBody.appendChild(trRow);
      
          }          
          
          if(callBackInputObject.invokedFirstTime)
          {
            destroyProgressBar("tabSpecificProgressBar-"+queueName);
          }
          else
          {
            console.log('queueDetailsCallBack: in else part');
            var testId = queueName+"-progressBarOnScroll";
            console.log('queueDetailsCallBack: testId = '+testId);
            var test1 = \$("#"+testId).length;
            console.log('queueDetailsCallBack: test1 = '+test1);

            \$("#"+queueName+"-progressBarOnScroll").remove();
          }
          
          \$('#footable-'+queueName).footable();
  
         \$("#fooTblDiv-"+queueName).css("display", "block");

         /* globalData to manage tab panel height on switching tabs without reloading the existing panel.
         This page is teh Summary tab of connectionDetails , and tab id will always be 1. */

         handlePanelHeightHouseKeeping('<%= queueName %>');

        //Ref : http://stackoverflow.com/questions/14969960/jquery-click-events-firing-multiple-times

         
        }

     };

     function onMsgLinkClick(clickedElement, queueName)
     {
             console.log('msgLinkDiv:click');
             var clickedElementId = clickedElement.id;
             var msgIdVal = \$("#"+clickedElementId).html();

              console.log('msgLinkDiv:click, clickedElementId = '+clickedElementId+', msgIdVal = '+msgIdVal);
              var jmsConnectionName= "<%= jmsConnectionName %>";
              showMsgDetailsDiv1(null, jmsConnectionName, queueName, clickedElementId );
     }

  </script>

   <!-- Handlebar js for client side templating - start -->
    <!-- <script id="msgDetailsDiv-template" type="x-handlebars-template">

       <div id={{msgDetailsDivId}} class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-draggable ui-resizable" style="position: absolute; height: auto; width: 350px; top: 106px; left: 774px; display: block;" tabindex="-1" role="dialog" aria-describedby="connectionDialog" aria-labelledby="ui-id-1">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                helllo
                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" aria-disabled="false" title="close">
                    <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
                    <span class="ui-button-text">close</span>
                </button>
            </div>
            <div id="connectionDialog" class="dialogForm ui-dialog-content ui-widget-content" style="display: block; width: auto; min-height: 0px; max-height: none; height: 272px;">
            </div>
       </div>

     </script> -->
       <!-- <script id="msgDetailsDiv-template1" type="x-handlebars-template">
          <div id="{{msgDetailsDivId}}" class="msgDetailsDiv">
                 <button id="{{msgDetailsButtonId}}" class="ui-button ui-widget ui-state-default ui-corner-all closeIcon" role="button" aria-disabled="false" title="close">
                    <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
                </button>
               <div id={{msgDivTreeId}}>
               </div>    
           </div>   
         </script> -->

          <script id="msgDetailsDiv-template1" type="x-handlebars-template">
          <div id="{{msgDetailsDivId}}" class="msgDetailsDiv">
                    <span  id="{{msgDetailsButtonId}}" class="closeIcon"></span>
               <div id={{msgDivTreeId}}>
               </div>    
           </div>   
         </script>

    <script id="progressBarTemplate" type="x-handlebars-template">
    <div id="progressBar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all ui-progressbar-indeterminate" role="progressbar" aria-valuemin="0">
      <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 100%;">
        <div class="ui-progressbar-overlay"></div>
      </div>
      heheeh
    </div>
    </script>
      
    <!-- Handlebar js for client side templating - end --> 

    <div id="tabSpecificProgressBar-<%= queueName %>"></div>   

   <div id="fooTblDiv-<%= queueName %>" class="fooTblDiv">

   <!-- <div class="searchDiv">
        <div class="searchDivTblRow">
         
          <span>Search</span>
          <input id="filter" type="text" />  
          <a href="#clear" class="clear-filter" title="clear filter"><img src="../images/edit_clear.png" title="Clear filter"></a>
        </div>
        
    </div> -->

   
    <table data-filter="#filter" class="footable" id="footable-<%= queueName %>">
      <thead>
        <tr>  
          <th>
            <span>JMSMessageID</span>
          </th>
          <th>
            <span>JMSRedelivered</span>
          </th>
          <th data-class="expand">
            <span>MessageType</span>
          </th>
          
        </tr>
      </thead>
      <tbody id="fooTblBody-<%= queueName %>">
        
       
      </tbody>    
    </table>


    <!-- <ul id="pagination" class="footable-nav"><span>Pages:</span></ul> -->
  </div> <!-- end fooTable div -->
    
  </body>
</html>
