.queueListDiv
{
    word-wrap: break-word;
}

.connectionListDropDownDiv
{
    word-wrap: break-word;
}
.connectionsListQItem
{   
    list-style: none;
    padding: 8px; 
    color: #0088CC;
    cursor: pointer;

}

.connectionsListQItem:hover
{
    text-decoration: underline
}

.queueIconSpan
{
    /* http://findicons.com/icon/84701/user_group */
    background-image: url("../images/queue24.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: medium none;
    clear: both;
    float: left;
    height: 24px;
    width: 24px;
    padding: 0px 7px 7px 7px;
}

.connectionListDropDown
{
        //padding: 0px 0px 0px 30px;
}

.connectionListDropDownDiv
{
    padding:  0px 0px 0px 30px;
}

.fooTblDiv
{
    display: none;
    overflow: scroll;
    
}



