body { 
    background: url(../images/purty_wood_@2X.png) repeat 0 0;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #EEEEEE;
    cursor: not-allowed;
}

.displayShadowedText
{
  font-size: 16px;
  color: #C0C0C0;
  text-shadow: -1px -1px 1px #000;
}
