.fooTblDiv
{
	display: none;
	overflow: scroll;
	
}
.progressBarOnScroll
{
	z-index: 1000;
	position: absolute;
}
.closeIcon
{
    height: 16px;
    width: 16px;
    float: right;
    /* http://findicons.com/icon/162187/bullet_cross?id=162871 */
    background-image: url("../images/small_cross2.png");
 
}

.progressBar1
{
	float: right;
}

.nonTreeMsgDiv
{
		background-color: white;
		padding: 10px;
		overflow: auto;
		padding: 3px;
		word-wrap: break-word;
}

.msgId
{
  color: #0088CC;
  cursor: pointer;
}

.msgId:hover
{
  text-decoration: underline;
}

.msgDetailsErrorDiv
{
background-color: #F5F5F5;
border-style: solid;
border-color: #E64016;
border-width: 5px;
padding: 10px;
}

.error-alert-img
{
float: left;
margin-right: 0.3em;
#background-position: 0 -144px;
height: 24px;
width: 24px;
background-repeat: no-repeat;
display: block;
overflow: hidden;
text-indent: -99999px;
background-image: url("../images/error-24.png");
}

.error-message-text
{
color: #E64016;
font-size: 2em;
line-height: 1em;
font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}
