<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Listing JMS queue content</title>
  <meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no" />
  <meta name="author" content="binita.bharati@gmail.com">
  
  <link href="../externalLibs/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
  <link href="../externalLibs/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="../externalLibs/jqueryui/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../externalLibs/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../externalLibs/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../externalLibs/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../externalLibs/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../externalLibs/bootstrap/docs/assets/ico/favicon.png">

  <link href="../externalLibs/footable/css/footable-0.1.css" rel="stylesheet" type="text/css" />
  <!-- <link href="../externalLibs/footable/css/footable.sortable-0.1.css" rel="stylesheet" type="text/css" /> -->
  <link href="../externalLibs/footable/css/footable.paginate.css" rel="stylesheet" type="text/css" /> 

  <link href="../externalLibs/dynatree/skin-vista/ui.dynatree.css" rel="stylesheet" type="text/css">
  <link href="../css/connectionTab.css" rel="stylesheet" type="text/css">
  <link href="../css/queueDetails.css" rel="stylesheet" type="text/css">

    <script src="../externalLibs/jquery/jquery.js" type="text/javascript"></script>
    <script src="../externalLibs/jqueryui/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="../externalLibs/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="../externalLibs/dynatree/jquery.dynatree.js" type="text/javascript"></script>

    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-transition.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-alert.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-modal.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-tab.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-popover.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-button.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
    <script src="../externalLibs/bootstrap/docs/assets/js/bootstrap-typeahead.js"></script> 

    <script src="../externalLibs/footable/js/footable.js" type="text/javascript"></script>
    <!-- <script src="../externalLibs/footable/js/footable.paginate.js" type="text/javascript"></script> -->
    <script src="../externalLibs/footable/js/footable.filter.js" type="text/javascript"></script> 

    <script src="../externalLibs/handlebar/handlebar.js"></script>

     <script src="../js/common.js" type="text/javascript"></script>
     <script src="../js/queueDetails.js" type="text/javascript"></script>
   
</head>
<body>

    <!-- Clostache delimiter redefined  -->
    {{=<% %>=}}

    <script type="text/javascript">

       $(document).ready(function()
        {
          init('<%jmsConnectionName%>', '<%queueName%>',  '<%encodedQName%>');


        });

    </script>

   <!-- Handlebar js for client side templating - start -->
      <script id="msgDetailsDiv-template1" type="x-handlebars-template">
          <div id="{{msgDetailsDivId}}" class="msgDetailsDiv">
                    <span  id="{{msgDetailsButtonId}}" class="closeIcon" onclick="onCloseIconClick(this)"></span>
               <div id={{msgDivTreeId}}>
               </div>    
           </div>   
         </script>

      <script id="msgDetailsErrorDiv-template1" type="x-handlebars-template">
        <div id="{{msgDetailsErrorDiv}}" class="msgDetailsErrorDiv">
          <span id="{{msgDetailsErrorDivCloseIconId}}" class="closeIcon" onclick="onCloseIconClick(this)"></span>
              <p>
                  <span class="error-alert-img"></span>
                  <span class="error-message-text">Oops!</span>
              </p>
              <div>{{errorMsg}}</div>  
           </div>   
      </script>


    <script id="progressBarTemplate" type="x-handlebars-template">
    <div id="progressBar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all ui-progressbar-indeterminate" role="progressbar" aria-valuemin="0">
      <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 100%;">
        <div class="ui-progressbar-overlay"></div>
      </div>
      heheeh
    </div>
  </script>

   <script id="msgLinkDiv-template1" type="x-handlebars-template">
     <div class="msgLinkDiv" id="{{queueName}}-msgLinkDiv-{{lastRetrievedMsgIndex}}">
      <span id="{{queueName}}-msgId-{{lastRetrievedMsgIndex}}" class="msgId" href="#" onclick="onMsgLinkClick(this,'{{queueName}}')">{{msgId}}</span>
    </div>  
  </script>

      
    <!-- Handlebar js for client side templating - end --> 

    <div id="tabSpecificProgressBar-<%encodedQName%>"></div>  

    <div id="fooTblDivEmptyQ-<%encodedQName%>" class="fooTblDiv">
    </div> 

   <div id="fooTblDiv-<%encodedQName%>" class="fooTblDiv">

   <!-- <div class="searchDiv">
        <div class="searchDivTblRow">
         
          <span>Search</span>
          <input id="filter" type="text" />  
          <a href="#clear" class="clear-filter" title="clear filter"><img src="../images/edit_clear.png" title="Clear filter"></a>
        </div>
        
    </div> -->

   
    <table data-filter="#filter" class="footable" id="footable-<%encodedQName%>">
      <thead>
        <tr>  
          <th>
            <span>JMSMessageID</span>
          </th>
          <th>
            <span>JMSRedelivered</span>
          </th>
          <th data-class="expand">
            <span>MessageType</span>
          </th>
          
        </tr>
      </thead>
      <tbody id="fooTblBody-<%encodedQName%>">
        
       
      </tbody>    
    </table>


    <!-- <ul id="pagination" class="footable-nav"><span>Pages:</span></ul> -->
  </div> <!-- end fooTable div -->
  
  </body>
</html>
